:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --catalogu-gap: 30px;
  --test_veribles: 30px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.current {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .current {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .current {
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-link {
  display: block;
  padding-top: 10px;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.link:hover {
  color: var(--accent-color);
}

.link:focus {
  color: var(--accent-color);
}

.button {
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: transparent;
  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.17;
  text-decoration: none;
  cursor: pointer;
}

.button:focus, .button:hover {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.header-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.header__item {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.adress-list__item {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .adress-list__item {
    display: flex;
    justify-content: right;
    align-items: baseline;
  }
  .adress-list__item:not(:first-child) {
    margin-left: 50px;
  }
}

.header__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}

.header__link .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.adress-list {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .adress-list {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .adress-list {
    flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.adress-list__item {
  align-items: flex-end;
}

.adress-icon:hover .header-adress-list {
  fill: var(--accent-color);
  display: block;
}

.header-img {
  margin-right: 10px;
  fill: currentcolor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open {
  border: none;
  width: 40px;
  height: 40px;
  background: #ffffff;
}

.menu-open:hover,
.menu-open :focus {
  cursor: pointer;
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__close {
  margin-left: auto;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  background: #ffffff;
}

.mob-menu__close:hover,
.mob-menu__close :focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}

.mob-menu__adress-list {
  margin-top: 200px;
}

.mob-menu__adress-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__tell {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}

.mob-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu__social-list {
  justify-content: start;
  margin-top: 64px;
  display: flex;
}

.mob-menu__social-item {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.mob-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__social-link {
  color: var(--accent-color);
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  margin: 16px 88px 16px 15px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.footer__list {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__list {
    margin-bottom: 0px;
  }
}

.footer__tab-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__tab-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__tab-container {
    display: run-in;
    margin-bottom: 0px;
    margin-right: 93px;
  }
}

.footer__container {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    margin-right: 80px;
  }
}

.logo-white {
  color: #ffffff;
}

.footer__logo {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-top: 60px;
    margin-right: 0;
  }
}

.footer__adress {
  margin-top: 20px;
}

.footer__item {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer__item:not(:first-child) {
  margin-top: 9px;
}

@media screen and (min-width: 1200px) {
  .footer__item {
    text-align: left;
  }
}

.footer__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .join .join:not(:last-child) {
    margin-right: 93px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-family: roboto;
  font-style: 700px;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  color: #ffffff;
  letter-spacing: 3%;
}

@media screen and (min-width: 1200px) {
  .join__title {
    box-align: Left;
  }
}

.join__list {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.join__item {
  text-decoration: none;
  width: 44px;
  height: 44px;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__icons {
  fill: #ffffff;
  border: 50%;
}

.join__link {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.join__link:hover .social-icons,
.join__link:focus .social-icons {
  fill: #ffffff;
}

.form-join {
  margin: 0 auto;
}

.form-join__title {
  margin-bottom: 20px;
  font-family: roboto;
  font-style: 700px;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  color: #ffffff;
  letter-spacing: 3%;
}

@media screen and (min-width: 1200px) {
  .form-join__title {
    box-align: Left;
  }
}

.form-join__input {
  margin: auto;
  margin-bottom: 20px;
  padding: 15px 0 15px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 479px) {
  .form-join__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-join__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: auto;
  }
}

.form-join__online-form {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
}

@media screen and (min-width: 1200px) {
  .form-join__online-form {
    flex-direction: row;
  }
}

.form-join__icon {
  margin-left: 10px;
}

.form-join__btn {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  justify-content: center;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  background: var(--accent-color);
}

.hero {
  width: 100%;
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/mobile@2x.jpg);
  }
}

@media screen and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/tab.jpg);
  }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/tab@2x.jpg);
  }
}

@media screen and (min-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/Img.jpg);
  }
}

@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/Img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  padding: 0;
  max-width: auto;
}

@media screen and (min-width: 480px) {
  .hero__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__btn {
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  background: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .special-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .special-list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.special-list .special-list__item {
  width: 100%;
}

.special-list .special-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .special-list .special-list__item {
    width: 270px;
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .special-list .special-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.special-list .special-list__title {
  margin-top: 30px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.special-list .special-list__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .special-list .special-list__text {
    width: 270px;
  }
}

.special-list .special-list__container {
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-list .special-list__image {
  width: 75px;
  height: 75px;
}

.our-job {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .our-job {
    display: block;
  }
}

.our-job__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.our-job__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.our-job__item {
  position: relative;
}

.our-job__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  overflow: hidden;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 65px;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__item {
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  margin-top: 30px;
}

.team__item img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 60px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: -30px;
}

.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team__profession {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__personal {
  padding: 30px 0;
  background-color: #ffffff;
}

.social-list {
  margin-top: 16px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-list__item {
  text-decoration: none;
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icons {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  border: 50%;
}

.social-list__link {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icons,
.social-list__link:focus .social-list__icons {
  fill: #ffffff;
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.customers__link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #afb1b8;
  border-left: 1px Solid #afb1b8;
  border-right: 1px Solid #afb1b8;
  border-bottom: 1px Solid #afb1b8;
  border-radius: 4px;
}

.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.customers__link:hover .customer__img,
.customers__link:focus .customer__img {
  fill: var(--accent-color);
}

.customers__item {
  width: 100%;
  flex-basis: calc(100% / 2 - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .customers__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.customer__img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}

.portfolio-button-list:last-child {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio-button-list {
    justify-content: center;
    margin-top: -15px;
  }
  .portfolio-button-list:not(:first-child) {
    margin-left: 0px;
  }
}

.portfolio-button-list-item {
  margin-top: 15px;
  width: auto;
}

.portfolio-button-list-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-button-list-item {
    margin-top: 0px;
  }
}

.portfolio-catalogue-list {
  margin-top: 50px;
}

.portfolio-catalogue-list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-catalogue-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-catalogue-list {
    display: flex;
    margin-bottom: -30px;
  }
}

.portfolio-catalogue-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.portfolio-catalogue-list-item {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-catalogue-list-item:nth-child(8n) {
  margin-bottom: 0px;
}

.portfolio-catalogue-list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-catalogue-list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-catalogue-list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link :focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text {
  transform: translateY(0);
}

.portfolio-catalogue-list-text {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-card {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portpholio-container {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.backdrop {
  overflow-y: scroll;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 530px;
    height: 580px;
  }
}

.modal__btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__btn:hover,
.modal__btn :focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.form__title {
  margin-bottom: 12px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field:focus {
  border: var(--accent-color);
}

.form__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__input:focus ~ .user-icons {
  fill: var(--accent-color);
}

.form__icon {
  position: relative;
}

.user-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form__textarea:focus {
  border-color: var(--accent-color);
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-text {
  color: var(--primary-text-color);
}

.form__checkbox-link {
  color: var(--accent-color);
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.form__check-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 15px;
  width: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__checkbox:checked + .form__checkbox-label > .form__check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */